<%- include('partials/header') %>
<link rel="stylesheet" href="css/styles/particles.css">
</head>
<body>
<div class="main">
    <%- include("partials/navbar") %>
    <div class="container-fluid">
        <div class="container-timer">
            <span class="count">Count: <%= count %></span>
        </div>
    </div>
    <div class="container">
        <div class="container-fluid" onkeypress="return checkSubmit(event)">
            <form action="/practice" method="POST" id="post">
                <h3 id="german"><%= germanPhrase %></h3>
                <textarea id="englishText" class="englishText" name="englishText" cols="50" rows="5" placeholder="Type in English" autofocus></textarea>
                <input id="submitBtn" class="submitBtn" type="submit" class="btn btn-large submitBtn" value="Check"/>            </form>
        </div>
    </div>
</div >
<%- include("partials/particles") %>
<%- include('partials/footer')%>